body.day {

  #navigation {
    background-color: $day-transparent-background;

    .site-name {
      color: $white;
    }

    .navbar-nav span {
      color: $white;
    }

    .dropdown-menu {
      background: $black;

      > li > a {
        color: $white;
      }
    }

    #sign-in {
      border: 1px solid $white;
      color: $white;
    }
  }


  footer {
    background-color: $day-background;
    color: $day-color;

    .tooltip {
      color: $day-color;
    }

    .social-media-icon {
      color: $white;

      &:hover {
        border: 1px solid $day-color;
        color: $day-color;
      }
    }

    .link {
      color: $day-color;
    }
  }

  .portlet-content {
    background-color: $day-body-background;
    color: $day-color;
  }
}
