body.night {

  #navigation {
    background-color: $night-transparent-background;

    .site-name {
      color: $black;
    }

    .navbar-nav span {
      color: $black;
    }

    .dropdown-menu {
      background: $white;

      > li > a {
        color: $black;
      }
    }

    #sign-in {
      border: 1px solid $black;
      color: $black;
    }
  }

  footer {
    background-color: $night-background;
    color: $night-color;

    .tooltip {
      color: $night-color;
    }

    .social-media-icon {
      color: $night-color;

      &:hover {
        border: 1px solid $night-color;
      }
    }

    .link {
      color: $night-color;
    }
  }

  .portlet-content.portlet-content-editable {
    background-color: $night-body-background;
    color: $night-color;
  }
}
