body.night {

  #navigation,
  .heading-ctn {
    background-color: $night-transparent-background;
  }

  #navigation .dropdown-menu,
  footer {
    background: $night-background;
  }

  .portlet-content,
  fieldset .panel-body,
  .table-hover > tbody > tr:hover {
    background-color: $night-body-background; // slightly transparent
  }

  #navigation .site-name,
  #navigation .navbar-nav span,
  #navigation .dropdown-menu > li > a,
  #navigation #sign-in,
  #navigation .heading-ctn,
  .portlet-content,
  .fieldset .legend,
  .calendar-portlet-list-header,
  .calendar-list-item-label,
  .control-label,
  .toggle-switch-label,
  .toggle-switch-handle,
  footer,
  footer .tooltip,
  footer .social-media-icon,
  footer .link {
    color: $night-color;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    color: $day-color;

    &:hover {
      color: $night-color;
    }
  }

  .calendar-portlet-list-header:hover,
  .calendar-list-item-hover {
    color: $day-color;
  }

  #sign-in {
    border: 1px solid $night-background;
  }

  .heading-ctn {
    bottom: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;

    h2 {
      margin-left: -10px;
    }
  }

  .portlet-content {
    border-radius: 0;
  }

  footer {
    .social-media-icon {
      &:hover {
        border: 1px solid $night-color;
      }
    }
  }
}
