@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'color_schemes/day';
@import 'color_schemes/night';
@import 'navbar';
@import 'footer';
@import 'carousel';
@import 'pageHeader';
@import 'imageTiles';
@import 'textBlock';
@import 'languagePicker';

html {
  font-size: 1.15vw !important;
  height: 100% !important;
  width: 100% !important;

  .row { // Fixes horizontal scroll
    margin-right: 0 !important;
  }

  .portlet-column { // Fixes horizontal scroll
    padding-right: 0 !important;
  }

  .portlet-content {
    border-radius: 0;
  }

  @media screen and (max-width: $break-point) {
    font-size: 100% !important;
  }
}

#wrapper {
  padding: 0;
}

// Adjusts the 1st portal topper toolbar on the page

#main-content {
  > div:nth-child(1) {
    .portlet-dropzone {
      > div:nth-child(1) {
        .portlet-topper {
          top: 140px;
          z-index: 2;
        }
        #p_p_id_1_WAR_stocksportlet_.portlet-static {
          margin-top: 120px;
        }
      }
    }
  }
}


.sidebar .lexicon-icon {
  color: $white;
}

.portlet-dropzone,
.photography-theme-ctn {

  h1 {
    @include font-generator('h1');
  }

  h2 {
    @include font-generator('h2');
  }

  h3 {
    @include font-generator('h3');
  }

  h4 {
    @include font-generator('h4');
  }

  h5 {
    @include font-generator('h5');
    font-style: italic;
  }

  li,
  a {
    @include font-generator('link');
    text-decoration: none;
  }

  .logo {
    @include font-generator('logo');
    cursor: pointer;
  }

  p {
    @include font-generator('p');
  }
}

.photography-theme-ctn {
  li,
  a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }

  .logo {
    cursor: pointer;
    display: inline-block;
  }

  p {
    @include font-generator('p');
  }
}
