footer {

  padding: 50px 0;

  .list-inline {
    li {
      display: block;
    }
  }

  .bottom-container > a {
    text-decoration: none;
  }

  .icon-container {
    position: relative;

    .tooltip {
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transform: translateX(0);
      transition: opacity .3s ease-in .3s;
      visibility: hidden;
    }
  }

  .icon-container:hover .tooltip {
    display: inline;
    left: 50%;
    opacity: 1;
    top: -75px;
    transform: translateX(-49%);
    transition: opacity .5s;
    visibility: visible;

  }

  .social-media-icon {
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px !important;
    height: $icon-height;
    margin: 25px 10px;
    padding: 10px;
    transition: border .5s, background .5s;
    width: $icon-height;

    &:hover {
      background: transparent;
      transition: border .5s, background .5s, color .5s;
    }

    $icons: (
      twitter:  #55acee,
      youtube:   #c4302b,
      facebook: #3b5998,
      instagram: #c32aa3,
      github:   #231f20,
      linkedin: #0977b5,
      dribbble: #ea4c89,
    );

    @each $theme, $color in $icons {
      &--#{$theme} {
        background-color: $color;
      }
    }
  }

  .link-container {
    cursor: default;
  }

  #contact {
    margin-top: 20px;
  }
}
