footer {
  background-color: $black;
  color: $white;
  padding: 50px 0;

  .list-inline {
    li {
      display: block;
    }
  }

  .bottom-ctn > a {
    text-decoration: none;
  }

  .social-media-icon {
    border: 1px solid transparent;
    border-radius: 50%;
    color: $white;
    margin: 20px 10px;
    padding: 10px;
    transition: border .5s, background .5s;

    .facebook {
      padding: 10px 15px; // adjustment for unsquare fb icon
    }

    &:hover {
      background: transparent;
      border: 1px solid $white;
      transition: border .5s, background .5s;
    }

    $icons: (
      twitter:  #55acee,
      youtube:   #c4302b,
      facebook: #3b5998,
      instagram: #c32aa3,
      github:   #231f20,
      linkedin: #0977b5,
      dribbble: #ea4c89,
    );

    @each $theme, $color in $icons {
      &--#{$theme} {
        background-color: $color;
      }
    }
  }

  .link-ctn {
    cursor: default;
  }

  .link {
    color: $white;
  }

  #contact {
    margin-top: 20px;
  }
}
