// For the page header web content

.page-header {
  height: 50vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  .image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .heading-ctn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
}
