$white: #fff;
$black: rgb(24, 24, 24);

$transparent: rgba(0, 0, 0, 0);
$transparent-overlay: rgba(255, 255, 255, .5);

$night-background: $black;
$night-body-background: rgba(36, 37, 31, .9);
$night-transparent-background: rgba(255, 255, 255, .8);
$night-color: $white;

$day-background: $white;
$day-body-background: rgba(255, 255, 255, .6);
$day-transparent-background: rgba(0, 0, 0, .15);
$day-color: $black;

$break-point: 768px;
$icon-height: 40px;
