$white: #fff;
$black: rgb(24, 24, 24);

$transparent: rgba(0, 0, 0, .15);
$break-point: 765px;
$icon-height: 40px;

$night-background: rgba(255, 255, 255, .8);
$night-color: $black;

$day-background: $transparent;
$day-color: $white;
